{% extends 'base.html.twig' %}

{% block title %}Éditer un bien{% endblock %}

{% block content %}
<h1>Éditer le bien</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-success">Modifier le bien</button>
    <a href="{{ path('admin_property_index') }}" class="btn">Annuler</a>
{{ form_end(form) }}
{% endblock %}
